.bg-primary {
	background-color: #0b5055 !important;
}

.bg-secondary {
	background-color: #464e4e !important;
}

.bg-danger {
	background-color: #bf0016 !important;
}

.bg-info {
	background-color: white !important;
}
