.border-primary {
	border-color: #0b5055 !important;
}

.border-secondary {
	border-color: #464e4e !important;
}

.border-danger {
	border-color: #bf0016 !important;
}

.border-info {
	border-color: white !important;
}
