$modal-content-box-shadow-xs: 0 15px 50px 0 rgba(0, 0, 0, 0.1);
$modal-content-box-shadow-sm-up: $modal-content-box-shadow-xs;
$modal-content-border-color: $gray-300;
$modal-inner-padding: 12px 16px;
$modal-header-padding-y: 12px;
$modal-header-padding-x: 16px;
