$pagination-padding-y: 12px;
$pagination-padding-x: 16px;
$pagination-padding-y-sm: 12px;
$pagination-padding-x-sm: 16px;
$pagination-padding-y-lg: 12px;
$pagination-padding-x-lg: 16px;
$pagination-color: $gray-900;
$pagination-hover-color: $gray-900;
$pagination-border-color: $gray-900;
$pagination-hover-border-color: $gray-900;
$pagination-active-bg: $gray-800;
$pagination-active-border-color: $gray-900;
$pagination-disabled-border-color:  $gray-500;
