// Dropdowns

$dropdown-bg: $white;

$dropdown-min-width: 138px;
$dropdown-padding-y: 8px;
$dropdown-item-padding-x: 8px;
$dropdown-item-padding-y: 4px;
$dropdown-item-line-height: 16px;
$dropdown-font-size: 12px;

$dropdown-box-shadow: 0 16px 32px 8px rgba($neutral-900, 0.1);
$dropdown-border-color: $neutral-300;
$dropdown-border-radius: 4px;

$dropdown-link-color: $neutral-700;
$dropdown-link-hover-color: $neutral-800;
$dropdown-link-hover-bg: $blue-050;

$dropdown-link-active-color: $black;
$dropdown-link-active-bg: $blue-100;
