// Tooltips

$tooltip-bg: rgba($neutral-900, 0.8);
$tooltip-box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.1);

$tooltip-line-height: 16px;

$tooltip-max-width: 300px;
$tooltip-border-radius: 3px;

$tooltip-arrow-width: 8px;
$tooltip-arrow-height: 4px;

$tooltip-padding-y: 8px;
$tooltip-padding-x: 8px;

$rich-tooltip-padding-y: 16px;
$rich-tooltip-padding-x: 16px;
$rich-tooltip-title-margin-bottom: 8px;
$rich-tooltip-title-font-size: 14px;
$rich-tooltip-title-line-height: 16px;
