$btn-plain-bg: transparent;

$btn-primary-color: #fff;
$btn-secondary-color: #464e4e;
$btn-plain-color: #007e8a;
$btn-plain-neutral-color: #464e4e;

$btn-border-width: 0;

$btn-padding-y-sm: 5px;
$btn-padding-x-sm: 10px;
$btn-padding-y: 9px;
$btn-padding-x: 14px;
$btn-padding-y-lg: 13px;
$btn-padding-x-lg: 18px;

$btn-border-radius: 3px;
$btn-border-radius-lg: 3px;
$btn-border-radius-sm: 3px;
