// Navbar

$navbar-padding-y: 12px;
$navbar-padding-x: 16px;

$navbar-nav-link-padding-x: 0;

$navbar-nav-link-padding-x: 8px;

$navbar-brand-padding-y: 0;

$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
